.launches{
    font-family: "Courier New", monospace;
}

.head {
    font-size: 16vw;
    font-weight: 100;
}

.mission-head{
    font-size: 1.13vw;
}

.scrollbar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.img-bg{
    width: 60vw;
    height: 20vw;
    border: 3px solid black;
}

.content-frame{
    border: 1px solid black;
}