.font {
  font-family: 'Lato', sans-serif;
  color: red;
}

.nav-item {
  font-size: 18px;
}
.nav-space {
  margin-right: 8%;
}

.logo { 
  font-size: 37px;
}

a:hover {
  color: #FFFAF0;
}

.selected {
  text-decoration: underline;
  color: white
}
.bg-norepeat {
  background-Size:97% 88%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 90%;
  object-fit: cover;
}
.rocketFont{
  color: white;
}
.rocketPosition1{
  position: relative;
  left: 65%;
  top: -10%;
  bottom: 0;
  right: 0;
}
.rocketPosition2{
  position: relative;
  left: 0%;
  top: -10%;
  bottom: 0;
  right: 65%;
}

