.font {
  font-family: 'Lato', sans-serif;
}

.nav-item {
  font-size: 18px;
}
.nav-space {
  margin-right: 8%;
}

.logo { 
  font-size: 37px;
}

a:hover {
  color: #FFFAF0;
}

.selected {
  text-decoration: underline;
  color: white
}
.bg-norepeat {
  background-Size:97% 88%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 90%;
  object-fit: cover;
}
.rocketFont{
  color: white;
}
.rocketPosition1{
  position: relative;
  left: 65%;
  top: -10%;
  bottom: 0;
  right: 0;
}
.rocketPosition2{
  position: relative;
  left: 0%;
  top: -10%;
  bottom: 0;
  right: 65%;
}
.firstImg{
  position: relative;
  margin-top: 0%;
  bottom: 0;
  left: 5%;
  right: 0;
  width: 80em;
  height: 75em;

}

.bgTest{
  background-color: black;
  
}
.textbox1{
  margin-top: 14%;
  margin-left: -20%;
}
.textbox2{
  margin-top: 10%;
  margin-bottom: 2%;
}
.headerText{
  font-size: 4vw;
}
.text{
  font-size: 1.2vw;
}
.secImg{
  position: relative;
  width: 80em;
  height: 75em;
  margin-top:5% ;
}
.navText1{
  font-size: 5vw;
  color: white;
}
.navText2{
  font-size: 1.5vw;
  color: white;

}
.thImg{
  position: relative;
  margin-top: 0%;
  bottom: 0;
  left: -5%;
  right: 0;
  width: 83em;
  height: 87em;
}
.frtImg{
  position: relative;
  margin-top: 4%;
  bottom: 0;
  left:10%;
  right: 0;
  width: 78em;
  height: 78em;
}
.textbox3{
  
  margin-top: 14%;
  margin-left: -30%;
  
}

.logo {
  font-size: 32px;
}

.info-content {
  font-size: 25px;
}

.info-head {
  font-size: 28px;
}
.my-center{
  text-align: center;
}